In [7]:
import pandas as pd
import numpy as np
import csv

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.cluster import KMeans 

import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv(r"C:\Users\chiam\Projects\WINpass-7-05\captions.csv")

In [11]:
df.head()

                                             caption  is_event
0  Catch the box before it hits you! 📦 Let’s come...         1
1  Calling the FAC All Stars 🌟  Join us, Communic...         0
2  We are calling for YOU to come and join us thi...         0
3  Calling all Future Stars 🌟 (and supportive par...         0
4  ✨ 𝐎𝐧𝐜𝐞 𝐔𝐩𝐨𝐧 𝐀 𝐒𝐭𝐚𝐠𝐞: 𝐖𝐡𝐞𝐫𝐞 𝐃𝐫𝐞𝐚𝐦𝐬 𝐂𝐨𝐦𝐞 𝐓𝐫𝐮𝐞 ✨\...         1

In [13]:
df.tail()

                                               caption  is_event
293  BREAKING NEWS 📰 ! MMU CAREER FAIR '22 NOW OPEN...         1
294  もしもし! (^ヮ^)ノ\n\nDon't forget that Sakura Fest'...         1
295  🎌 Dive into the enchanting world of Japanese t...         1
296  こんにちは、皆さん！\n\nWe would like to happily announc...         1
297  🌸Attention Movie Night attendees!🌸\n\nWe're un...         1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   caption   298 non-null    object
 1   is_event  298 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.8+ KB

In [16]:
df.shape

(298, 2)

In [17]:
X = df["caption"].values
y = df["is_event"].values

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.40, random_state=1)

In [18]:
model = Pipeline(steps=[
    ('tfidf', TfidfVectorizer()),               
    ('clf', LogisticRegression(max_iter=1000))  
])

In [19]:
model.fit(X_train, y_train)
y_pred_test = model.predict(X_test)

print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84        69
           1       0.83      0.69      0.75        51

    accuracy                           0.81       120
   macro avg       0.81      0.79      0.80       120
weighted avg       0.81      0.81      0.80       120

In [20]:
results_df = pd.DataFrame({
    'caption': X_test,  
    'is_event': y_test,
    'Predicted': y_pred_test
})

print(results_df)

results_df.to_csv(r"C:\Users\chiam\Projects\WINpass-7-05\test_results.csv", index=False, encoding="utf-8-sig")

                                               caption  is_event  Predicted
0    🌿|OARS Committee Line-Up 25/26|🌿\n\n#PowerTo T...         0          0
1    🔥 New Diamond Sponsor: Public Bank🔥\n\n🌟 BIG N...         1          0
2    🚀 Calling all sponsors for Build with AI UPM 2...         0          1
3    ⚡🏸IU Badminton 🏸 ⚡\n\nAssalamualaikum and gree...         1          1
4    🏅🏆 Selangor Indoor Rowing Championship 2024 🏆🏅...         0          0
..                                                 ...       ...        ...
115  🔥 Attention Gamers! 🔥\n\nWe're back for an epi...         1          1
116  This time, MMUCS is bringing you a whole new l...         1          1
117  [ GEMA GEMILANG: MMU SUKAN RAKYAT ]\n\nGet rea...         1          1
118  Ready to grow your skills and make an impact?\...         0          0
119  🏮🐉 Happy Chinese New Year 2025! 🎉\n\nWishing y...         0          0

[120 rows x 3 columns]

In [ ]:
result_df = pd.read_csv(r"C:\Users\chiam\Projects\WINpass-7-05\test_results.csv")